<div class="container">
  <div [hidden]="bookAdded">
      <h3 style="margin-top: 30px;">New Book Information <span style="font-size:small">* is a required field</span></h3>
      <form (ngSubmit)="onSubmit()">
        <md-grid-list cols="4" rowHeight="60px">
            <md-grid-tile [colspan]="4" [rowspan]="1">
              <md-input-container>
                  <input mdInput id="title" type="text" required [(ngModel)]="newBook.title" name="title" placeholder="Title">
              </md-input-container>
            </md-grid-title>
        </md-grid-list>
      </form>
  </div>
</div>
